/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
    font: 100% helvetica, arial, sans-serif;
    background: #283d34;
    text-align: center;
}

h1 {
    position: fixed;
    z-index: 999;
    width: 100%;
    color: #283d34;
    font-variant: small-caps;
    font-size: 2.5em;
    background: #889d93;
    top: 0;
    margin-top: 0;
    padding-bottom: 0.3em;
    box-shadow: 0px 5px 6px 2px rgba(0,0,0,0.36);
}

h1 a {
    text-decoration: none;
}

.center-box {
    margin-top: 3em;
    left: auto;
    right: auto;
    display: inline-block;
    background: #a8bdb3;
    padding: 1em;
    box-shadow: 0px 5px 6px 2px rgba(0,0,0,0.24);
    max-width: 90%;
    border-radius: 10px;
}

.center-box a {
    text-decoration: none;
    color: black;
}

table {
    padding: 1em;
    border-collapse: collapse;
}

th {
    padding: 1em;
}

tr {
    border-bottom: 1px solid black;
    margin-bottom: .5em;
}

td {
    text-align: center;
    padding-right: .5em;
}

.t-l {
    font-size: 3em;
    font-weight: 600;
}

.btns {
    margin-top: 1em;
}

.btns a {
    border: 1px solid black;
    float: right;
    /*margin-left: .5em;*/
    padding: .5em;
    background: #e2e9e6;
    font-weight: 600;
}
