// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$accent-color: #3fbc82;
$sandbox-color: #EEE;

h1, h2 {
    color: $accent-color;
}

#wrap {
    /*max-width: 600px;*/
    min-width: 200px;
    height: 100%;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    background: $sandbox-color;
}

#disp-box {
    background: $sandbox-color;
    padding: 5em 2em 2em 2em;
    white-space: nowrap;
    div {
        border: 1px black solid;
        vertical-align: bottom;
        text-align: left;
        display: inline-block;
        left: 0;
        margin-right: 1em;
        padding-top: 10px;
        padding-left: 10px;
    }
    div:last-of-type {
        margin-right: 3em;
    }
}

.stil {
    font-size: 80%;
}

.red {
    color: #000;
    background: #F00;
}

.orange {
    color: #000;
    background: #FFA500;
}

.yellow {
    color: #000;
    background: #FF0;
}

.green {
    color: #FFF;
    background: #008000;
}

.blue {
    color: #000;
    background: #00BFFF;
}

.indigo {
    color: #FFF;
    background: #4B0082;
}

.purple {
    color: #FFF;
    background: #800080;
}

.black {
    color: #FFF;
    background: #000;
}

.white {
    color: #000;
    background: #FFF;
}
